{% extends 'base.html.twig' %}

<h1>WP Indecision</h1>
<div>
	<input type="text" name="name" placeholder="Name" value=""/>
	<input type="text" name="address" placeholder="Address" value=""/>
	<input type="button" name="add_place" value=""/>
</div>

<div>
	<input type="button" name="pick_place" value=""/>

	<div>
		<span>You're Going To</span>
	</div>
	<input type="text" name="address" placeholder="Name" value=""/>
	<input type="button" name="add_place" placeholder="Name" value=""/>
</div>
<div>
	<h2>Your Places</h2>
	<?php if(!empty($places)) : ?>
		<ul>
			<?php foreach ($places as $place) : ?>
				<li>
					<span><?php echo $place['name']; ?></span>
					<span>X</span>
				</li>
			<?php endforeach; ?>
		</ul>
	<?php endif; ?>
</div>
{% block stylesheets %}
{% endblock %}
